* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.5;
  background-color: #fff;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), 
                    url("/img/bg-image.png");
  background-repeat: no-repeat;
}
.card-wrapper {
  max-width: 1000px;
  background-color: #fff;
  margin: auto;
  height: auto;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  display: flex;
  box-shadow: 5px 5px 10px rgb(105, 103, 103), -5px -5px 10px rgb(105, 103, 103);
  position: relative;
}

.card-left {
  width: 45%;
  text-align: center;
}

.thumbnail-image {
  height: 410px;
  width: 410px;
}

.thumbnail-image img {
  height: 390px;
  width: 390px;
  margin-top: 6px;
  transition: 0.3s;
  margin-left: 30px;
}

.thumbnail-image img:hover {
  height: 420px;
  width: 420px;
  margin-top: 6px;
  z-index: 7;
  filter: hue-rotate(90deg);
}
.timeline-images {
  height: 110px;
  width: 450px;
}
.timeline-images img {
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.83;
}
.timeline-images img:hover {
  opacity: 1;
  height: 110px;
  width: 110px;
  box-shadow: 10px 10px 10px rgb(68, 67, 67);
  border: 3px solid;
  border-left-color: rgb(247, 4, 4);
  border-right-color: rgb(5, 5, 238);
  border-top-color: rgb(7, 241, 241);
  border-bottom-color: rgb(117, 14, 214);
}
.card-right {
  width: 55%;
  padding-left: 20px;
  padding-right: 5px;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover {
  opacity: 0.5;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.product-rating img {
  height: 15px;
  width: 100px;
  transition: 0.5s;
}

.product-rating img:hover {
  height: 20px;
  width: 150px;
}
.product-rating span {
  font-weight: 600;
  color: #252525;
  font-size: 20px;
}
.product-price {
  margin: 1rem 0;
  font-size: 20px;
  font-weight: 700;
}
.product-price span {
  font-weight: 400;
}
.last-price span {
  color: #f64749;
  text-decoration: line-through;
}
.new-price span {
  color: #256eff;
}
.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0px;
}
.product-detail p {
  font-size: 0.9rem;
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
}
.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li {
  margin: 0;
  list-style: none;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.product-detail ul li img {
  height: 15px;
  width: 16px;
  margin-left: -15px;
}
.product-detail ul li span {
  font-weight: 400;
}
.stock input {
  width: 100px;
}
.stock input,
.stock .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px #f7a1cc;
  transition: 0.3s;
  border-color: #ec097c;
}
.stock .btn {
  cursor: pointer;
  color: #fff;
  background: #ec097c;
}

.stock .btn:hover {
  opacity: 0.9;
}

.stock input:hover {
  background: #ec097c;
  color: #fff;
}
